body {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #323232;
}

.slider-controls input {
  display: none;
}

.slide1,
.slide2,
.slide3 {
  display: none;
}

.btn-preview {
  display:none;
}

.index-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;

}

.main-navigation {
  float: left;
  width: 720px;
}

.logo {
  float: left;
  width: 154px;
  margin-left: -5px;
  margin-right: 10px;
  margin-top: 10px;
}

.user-block {
  float: right;
  max-width: 293px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.hours-phone {
  float: right;
  max-width: 175px;
  text-align: right;
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.slider {
  position: relative;
  padding-top: 270px;
  text-align: center;
  color: #ffffff;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;
  font-weight: 700;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border-style: none;
}

.btn {
  display: inline-block;
  padding: 12px 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  border-style: none;
}

.slide-btn:hover,
.btn:hover,
.btn-preview:hover,
.btn-send:hover,
.promo__btn:hover
 {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active,
.btn:active,
.btn-preview:active,
.btn-send:active,
.promo__btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}


.slider-controls input[type=radio]:checked + label {
  background-color: #ffffff;
}

.slider-controls input[type=radio]:checked + label {
  background-color: #ffffff;
}

input:checked ~ .slide1 {
  display: block;
}

.promo-raspberries {
  float:left;
  box-sizing: border-box;
  padding: 0 20px;
  min-height: 230px;
  width: 560px;
  margin-right: 26px;
  background: url("../img/raspberries.png") no-repeat;
}

.promo-chocolate {
  float: right;
  box-sizing: border-box;
  padding: 0 20px;
  min-height: 230px;
  width: 560px;
  background: url("../img/chocolate.png") no-repeat;
}

.promo {
  margin-bottom: 39px;
}

.catalog {
  margin-bottom: 30px;
}

.item {
  float: left;
  box-sizing: border-box;
  position:relative;
  width: 286px;
  padding: 10px;

}

.item:before {
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
  width: 61px;
  height: 61px;
  background-position: -45px -62px;
  content: "";
}

}

.item:last-child {
  margin-right: 0;
}

.item:hover {
  background: rgba(255,255,255,0.2);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.item:hover .btn-preview  {
  display: block;
  position:absolute;
  margin-top: 10px;
  margin-left: 35px;
  margin-bottom: 15px;
  padding: 12px 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  border-style: none;
}

.about {
  width: 1146px;
  min-height: 305px;
  background: #ebe0c7 url("../img/wafer.jpg") repeat;
  border-radius: 15px;
  margin-bottom: 40px;
  box-sizing: border-box;
  padding: 1px 20px;
}

.features {
  position:relative;
  float:left;
  width: 485px;
  margin-left: 60px;
}

.features-content-right {
  margin-left: 15px;
}

.icon-ice:before {
  position: absolute;
  top: 0;
  left: -60px;
  background: url("../img/sprite.png") no-repeat;
  width: 49px;
  height: 49px;
  background-position: -138px -131px;
  content: "";
}

.icon-leaf:before {
  position: absolute;
  top: 85pxf;
  left: -60px;
  background: url("../img/sprite.png") no-repeat;
  width: 49px;
  height: 49px;
  background-position: -226px -10px;
  content: "";
}

.icon-cow:before {
  position: absolute;
  top: 0;
  left: -40px;
  background: url("../img/sprite.png") no-repeat;
  width: 48px;
  height: 49px;
  background-position: -126px -62px;
  content: "";
}

.icon-temperature:before {
  position: absolute;
  top: 85px;
  left: -40px;
  background: url("../img/sprite.png") no-repeat;
  width: 48px;
  height: 49px;
  background-position: -207px -79px;
  content: "";
}

.news {
  margin-bottom: 40px;
}

.blog {
  float: left;
  box-sizing: border-box;
  width: 560px;
  padding: 1px 20px;
  min-height: 220px;
  background: url("../img/bg-strawberry.png") no-repeat;
}

.blog__title {
  width: 293px;
}

.subscribe {
  float:left;
  box-sizing: border-box;
  width: 560px;
  padding: 20px 20px;
  min-height: 220px;
  margin-left: 26px;
  background: url("../img/bg-lines.png") no-repeat;
}

.email-input {
  border: none;
  display: inline-block;
  vertical-align: top;
}

.email-input input {
  width: 368px;
  padding: 10px;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.email-input input:hover {
  border: 2px solid rgba(178, 178, 178, 0.5);
}

.contacts {
  position: relative;
}

.contacts-text {
  position:absolute;
  box-sizing: border-box;
  top:64px;
  right:0px;
  width: 302px;
  min-height: 305px;
  background: #ffffff;
  border-radius: 15px;
  padding: 10px 25px;
}

.contacts-adress {
  display: block;
  margin-bottom: 20px;
}

.map {
  margin-left: -26px;
}

.footer {
  margin-top: 40px;
}

.footer-social {
  float:left;
  width: 420px;
  min-height: 85px;
}

.social-btn {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  border:5px solid rgba(255,255,255,0.5);
  border-radius: 45px;
  position: relative;
}

.social-btn:hover {
  border:5px solid rgba(255,255,255,0.7);
}

.social-btn:active {
  border:5px solid rgba(255,255,255,0.7);
  box-shadow: inset 0px 6px 0px 3px rgba(105,105,105,1);
}

.social-btn:after {
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
  content: "";
}

.social-btn:hover:after {
  opacity: 1;
}

.social-btn-tw:after {
  width: 32px;
  height: 32px;
  background-position: -259px -153px;
  opacity: 0.8;
}

.social-btn-inst:after {
  width: 32px;
  height: 32px;
  background-position: -207px -148px;
  opacity: 0.8;
}

.social-btn-fb:after {
  width: 32px;
  height: 32px;
  background-position: -174px -10px;
  opacity: 0.8;
}

.social-btn-vk:after {
  width: 32px;
  height: 32px;
  background-position: -10px -205px;
  opacity: 0.8;
}

.footer-navigation {
  float: left;
  width: 360px;
}

.footer-copyright {
  float:right;
  position: relative;
  width: 190px;
  padding-top: 20px;
}

.footer-copyright:before {
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
  content: "";
  top: -20px;
  width: 108px;
  height: 38px;
  background-position: -10px -143px;

}

.row {
  margin-bottom: 40px;
}

.pages {
  float:right;
  width:267px;
  margin-top: 70px;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style-type: none;
}

.main-navigation__list li {
  display: inline-block;
}

.navigation {
  display: block;
  padding: 29px 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: underline;
  color: #ffffff;
}

.navigation:hover {
  padding: 7px 15px;
  color: #373737;
  background: #f8f7f4;
  border-radius: 15px;
  text-decoration: none;
}

.navigation:active {
  padding: 7px 15px;
  color: #373737;
  background: #ededed;
  border-radius: 15px;
  text-decoration: none;
  box-shadow: inset 0px 2px 0px 0px rgba(105,105,105,1);
}

.navigation-active {
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  background: #d07058;
  border-radius: 15px;
}

.search,
.login,
.cart {
  display: inline-block;
  vertical-align: top;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  margin-top: 23px;
}

.search {
  position: relative;
  font-size: 0;
  width: 20px;
  height: 16px;
  padding: 7px 5px;
}

.search:hover {
  background: rgba(255, 255, 255, 1);
}

.search:before {
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
  width: 17px;
  height: 17px;
  left: 6px;
  top:6px;
  background-position: -275px -79px;
  content: "";
}

.search:hover:before {
  background-position: -275px -116px;
}

.login {
  padding: 7px 20px;
  padding-left: 40px;
  margin-left: 9px;
  position: relative;
}

.login:hover {
  color: #373737;
  background: rgba(255, 255, 255, 1);
}

.login:before {
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
  width: 21px;
  height: 19px;
  left: 13px;
  top: 6px;
  background-position: -92px -10px;
  content: "";
}

.login:hover:before {
  background-position: -133px -10px;
}

.cart {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 35px;
  padding-left: 42px;
  margin-left: 9px;
  position: relative;
}

.cart:hover {
  background: rgba(255, 255, 255, 1);
  color: #373737;
}

.cart:before {
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
  width: 21px;
  height: 20px;
  left: 14px;
  top: 6px;
  background-position: -10px -10px;
  content: "";
}

.cart:hover:before {
  background-position: -51px -10px;
}

.cart-active {
  display: inline-block;
  vertical-align: top;
  background: #ffffff;
  border-radius: 15px;
  margin-top: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 35px;
  padding-left: 42px;
  margin-left: 9px;
}

.footer-navigation__block-left {
  float:left;
  width: 135px;
  margin-right: 20px;
}

.footer-navigation__block-right {
  float:left;
  width: 170px;
}

.footer-navigation__block-info,
.footer-navigation__block-info-dealer {
  position: relative;
  display:block;
}

.footer-navigation__block-info-dealer:before {
  position: absolute;
  top: 2px;
  left: -22px;
  background: url("../img/sprite.png") no-repeat;
  width: 15px;
  height: 13px;
  background-position: -10px -62px;
  content: "";
}


.login,
.cart {
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.cart-active {
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.hours {
  display: block;
  margin-top: 20px;
}

.phone {
  display:block;
  font-size: 22px;
  line-height: 24px;
  margin-top: 5px;
}

.promo__title {
  font-weight: 700;
  font-size: 35px;
  color: #ffffff;
}

.promo__description {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.promo__btn {
  float: right;
  margin-top: 15px;
  padding: 12px 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  border-style: none;
}

.item-price {
  position: absolute;
  top: 215px;
  left: 10px;
  font-weight: 700;
  text-decoration: none;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.item-name {
  font-weight: 500;
  text-decoration: underline;
  color: #ffffff;
  text-align: center;
  display: block;
}

.about__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.blog__new {
  font-weight: 500;
}

.blog__title {
  font-weight: 700;
  text-decoration: underline;
  font-size: 24px;
  line-height: 30px;
}

.subscribe {
  color: #5a5a5a;
}

.contacts {
  font-size: 14px;
  line-height: 20px;
}

.contacts-text__main {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts-text__phone {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}



.footer-navigation__block-info {
  text-decoration: underline;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.footer-navigation__block-info-dealer {
  font-weight: 700;
  text-decoration: underline;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.copyright {
  text-decoration: underline;
  color: #ffffff;
}

.second-navigation__list {
  list-style-type: none;
}

.second-navigation__item {
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
  color: #ffffff;
}

.second-navigation__item-active {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #ffffff;
}

.h1-catalog {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.sort__title,
.price-range__title,
.fatness__title,
.toppings__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.fatness__value,
.toppings__name {
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

.pages-number {
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
}

.pages-number-active {
  text-decoration: none;
  font-weight: 500;
  color: #323232;
}
